PaymentStatementIntegrations/CrmRetrieval/workflow.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "Get_PDF_from_service": {
                "type": "Http",
                "inputs": {
                    "uri": "@{parameters('PdfServiceUrl')}/statements/statement/@{trigger().outputs?.queries?.id}",
                    "method": "GET"
                },
                "runAfter": {
                    "Compose_-_for_logging_only": [
                        "SUCCEEDED",
                        "TIMEDOUT",
                        "SKIPPED",
                        "FAILED"
                    ]
                },
                "operationOptions": "DisableAsyncPattern",
                "runtimeConfiguration": {
                    "requestOptions": {
                        "timeout": "15"
                    }
                },
                "trackedProperties": {}
            },
            "Check_PDF": {
                "type": "If",
                "expression": {
                    "and": [
                        {
                            "equals": [
                                "@outputs('Get_PDF_from_service')?['statusCode']",
                                200
                            ]
                        }
                    ]
                },
                "actions": {
                    "Serve_PDF": {
                        "type": "Response",
                        "kind": "Http",
                        "inputs": {
                            "statusCode": 200,
                            "headers": {
                                "Content-Type": "application/pdf",
                                "Content-disposition": "inline"
                            },
                            "body": "@body('Get_PDF_from_service')"
                        }
                    }
                },
                "else": {
                    "actions": {
                        "Failed_Response": {
                            "type": "Response",
                            "kind": "Http",
                            "inputs": {
                                "statusCode": "@coalesce(outputs('Get_PDF_from_service')?['statusCode'], 400)",
                                "body": "Unable to get PDF content: @{body('Get_PDF_from_service')}"
                            },
                            "trackedProperties": {}
                        }
                    }
                },
                "runAfter": {
                    "Get_PDF_from_service": [
                        "SUCCEEDED",
                        "TIMEDOUT",
                        "FAILED",
                        "SKIPPED"
                    ]
                },
                "trackedProperties": {}
            },
            "Compose_-_for_logging_only": {
                "type": "Compose",
                "inputs": "@triggerOutputs()?['queries']",
                "runAfter": {},
                "trackedProperties": {
                    "file_id": "@{triggerOutputs()?['queries']?['id']}",
                    "pdf_service_url": "@{parameters('PdfServiceUrl')}"
                }
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "triggers": {
            "HTTP_GET": {
                "type": "Request",
                "kind": "Http",
                "inputs": {
                    "method": "GET"
                }
            }
        }
    },
    "kind": "Stateful"
}