PaymentStatementIntegrations/CrmInsert/workflow.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "Parse_JSON": {
                "type": "ParseJson",
                "inputs": {
                    "content": "@triggerBody()?['contentData']",
                    "schema": {
                        "type": "object",
                        "properties": {
                            "sbi": {
                                "type": "integer"
                            },
                            "frn": {
                                "type": "integer"
                            },
                            "apiLink": {
                                "type": "string"
                            },
                            "documentType": {
                                "type": "string"
                            },
                            "scheme": {
                                "type": "string"
                            }
                        }
                    }
                },
                "runAfter": {
                    "Initialize_ErrorText": [
                        "SUCCEEDED"
                    ]
                },
                "trackedProperties": {
                    "messageBody": "@{triggerBody()?['contentData']}"
                }
            },
            "If_JSON_is_valid": {
                "type": "If",
                "expression": {
                    "and": [
                        {
                            "equals": [
                                "@actions('Parse_JSON').status",
                                "Succeeded"
                            ]
                        },
                        {
                            "not": {
                                "equals": [
                                    "@string(body('Parse_JSON')?['apiLink'])",
                                    ""
                                ]
                            }
                        },
                        {
                            "not": {
                                "equals": [
                                    "@string(body('Parse_JSON')?['sbi'])",
                                    ""
                                ]
                            }
                        }
                    ]
                },
                "actions": {
                    "Try_Scope": {
                        "type": "Scope",
                        "actions": {
                            "Add_a_row_to_CRM": {
                                "type": "ApiConnection",
                                "inputs": {
                                    "host": {
                                        "connection": {
                                            "referenceName": "commondataservice-api-raw"
                                        }
                                    },
                                    "method": "post",
                                    "body": {
                                        "subject": "Demo Title",
                                        "notetext": "Demo Description @{body('Parse_JSON')?['apiLink']}",
                                        "isdocument": false
                                    },
                                    "headers": {
                                        "prefer": "return=representation,odata.include-annotations=*",
                                        "organization": "https://Prohibited.crm4.dynamics.com"
                                    },
                                    "path": "/api/data/v9.1/@{encodeURIComponent(encodeURIComponent('annotations'))}"
                                },
                                "trackedProperties": {}
                            }
                        },
                        "trackedProperties": {}
                    },
                    "Catch_Scope": {
                        "type": "Scope",
                        "actions": {
                            "Dead-letter_the_message_in_a_topic_subscription_failed_CRM": {
                                "type": "ApiConnection",
                                "inputs": {
                                    "host": {
                                        "connection": {
                                            "referenceName": "servicebus-api"
                                        }
                                    },
                                    "method": "post",
                                    "path": "/@{encodeURIComponent(encodeURIComponent('ffc-pay-statement-crm-snd'))}/subscriptions/@{encodeURIComponent('crm')}/messages/deadletter",
                                    "queries": {
                                        "lockToken": "@triggerBody()?['lockToken']",
                                        "sessionId": "",
                                        "deadLetterReason": "Failed CRM: @{variables('ErrorText')}",
                                        "deadLetterErrorDescription": ""
                                    }
                                },
                                "runAfter": {
                                    "Compose_for_logging": [
                                        "SUCCEEDED"
                                    ]
                                }
                            },
                            "Filter_array": {
                                "type": "Query",
                                "inputs": {
                                    "from": "@result('Try_Scope')",
                                    "where": "@equals(item()?['status'],'Failed')"
                                }
                            },
                            "Set_ErrorText_with_error": {
                                "type": "SetVariable",
                                "inputs": {
                                    "name": "ErrorText",
                                    "value": "@string(first(body('Filter_array')))"
                                },
                                "runAfter": {
                                    "Filter_array": [
                                        "SUCCEEDED"
                                    ]
                                }
                            },
                            "Compose_for_logging": {
                                "type": "Compose",
                                "inputs": "@variables('ErrorText')",
                                "runAfter": {
                                    "Set_ErrorText_with_error": [
                                        "SUCCEEDED"
                                    ]
                                },
                                "trackedProperties": {
                                    "ErrorText": "@action()?['inputs']"
                                }
                            }
                        },
                        "runAfter": {
                            "Try_Scope": [
                                "TIMEDOUT",
                                "FAILED",
                                "SKIPPED"
                            ]
                        }
                    },
                    "Success_Scope": {
                        "type": "Scope",
                        "actions": {
                            "Complete_the_message_in_a_topic_subscription": {
                                "type": "ApiConnection",
                                "inputs": {
                                    "host": {
                                        "connection": {
                                            "referenceName": "servicebus-api"
                                        }
                                    },
                                    "method": "delete",
                                    "path": "/@{encodeURIComponent(encodeURIComponent('ffc-pay-statement-crm-snd'))}/subscriptions/@{encodeURIComponent('crm')}/messages/complete",
                                    "queries": {
                                        "lockToken": "@triggerBody()?['lockToken']",
                                        "subscriptionType": "Main",
                                        "sessionId": ""
                                    }
                                }
                            }
                        },
                        "runAfter": {
                            "Catch_Scope": [
                                "SKIPPED"
                            ]
                        }
                    }
                },
                "else": {
                    "actions": {
                        "Dead-letter_the_message_in_a_topic_subscription_invalid_JSON": {
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "referenceName": "servicebus-api"
                                    }
                                },
                                "method": "post",
                                "path": "/@{encodeURIComponent(encodeURIComponent('ffc-pay-statement-crm-snd'))}/subscriptions/@{encodeURIComponent('crm')}/messages/deadletter",
                                "queries": {
                                    "lockToken": "@triggerBody()?['lockToken']",
                                    "sessionId": "",
                                    "deadLetterReason": "Invalid JSON @{triggerBody()?['contentData']}",
                                    "deadLetterErrorDescription": ""
                                }
                            }
                        }
                    }
                },
                "runAfter": {
                    "Parse_JSON": [
                        "SUCCEEDED",
                        "FAILED",
                        "TIMEDOUT"
                    ]
                },
                "trackedProperties": {}
            },
            "Initialize_ErrorText": {
                "type": "InitializeVariable",
                "inputs": {
                    "variables": [
                        {
                            "name": "ErrorText",
                            "type": "string"
                        }
                    ]
                },
                "runAfter": {}
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "triggers": {
            "When_messages_are_available_in_a_topic_subscription_(peek-lock)": {
                "type": "ServiceProvider",
                "inputs": {
                    "parameters": {
                        "topicName": "ffc-pay-statement-crm-snd",
                        "subscriptionName": "crm",
                        "isSessionsEnabled": false
                    },
                    "serviceProviderConfiguration": {
                        "connectionName": "servicebus-sp",
                        "operationId": "peekLockTopicMessages",
                        "serviceProviderId": "/serviceProviders/serviceBus"
                    }
                },
                "splitOn": "@triggerOutputs()?['body']"
            }
        }
    },
    "kind": "Stateful"
}