PaymentStatementIntegrations/CrmInsert/workflow.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "Parse_JSON": {
                "type": "ParseJson",
                "inputs": {
                    "content": "@triggerBody()?['contentData']",
                    "schema": {
                        "type": "object",
                        "properties": {
                            "sbi": {
                                "type": "integer"
                            },
                            "frn": {
                                "type": "integer"
                            },
                            "apiLink": {
                                "type": "string"
                            },
                            "documentType": {
                                "type": "string"
                            },
                            "scheme": {
                                "type": "string"
                            }
                        }
                    }
                },
                "runAfter": {},
                "trackedProperties": {}
            },
            "Condition": {
                "type": "If",
                "expression": {
                    "and": [
                        {
                            "not": {
                                "equals": [
                                    "@string(body('Parse_JSON')?['apiLink'])",
                                    ""
                                ]
                            }
                        },
                        {
                            "not": {
                                "equals": [
                                    "@string(body('Parse_JSON')?['sbi'])",
                                    ""
                                ]
                            }
                        }
                    ]
                },
                "actions": {
                    "Add_a_row_to_CRM": {
                        "type": "ApiConnection",
                        "inputs": {
                            "host": {
                                "connection": {
                                    "referenceName": "commondataservicewrite"
                                }
                            },
                            "method": "post",
                            "body": {
                                "subject": "Demo Title",
                                "notetext": "Demo description @{body('Parse_JSON')?['apiLink']} @{body('Parse_JSON')?['sbi']}",
                                "isdocument": false
                            },
                            "headers": {
                                "prefer": "return=representation,odata.include-annotations=*",
                                "organization": "https://Prohibited.crm4.dynamics.com"
                            },
                            "path": "/api/data/v9.1/@{encodeURIComponent(encodeURIComponent('annotations'))}"
                        }
                    },
                    "OK_Response": {
                        "type": "Response",
                        "kind": "Http",
                        "inputs": {
                            "statusCode": 200,
                            "body": "success"
                        },
                        "runAfter": {
                            "Add_a_row_to_CRM": [
                                "SUCCEEDED"
                            ]
                        }
                    }
                },
                "else": {
                    "actions": {
                        "Bad_Response": {
                            "type": "Response",
                            "kind": "Http",
                            "inputs": {
                                "statusCode": 400,
                                "body": "Missing sbi or apiLink in message contents"
                            }
                        }
                    }
                },
                "runAfter": {
                    "Parse_JSON": [
                        "SUCCEEDED",
                        "FAILED"
                    ]
                }
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "triggers": {
            "When_messages_are_available_in_a_topic": {
                "type": "ServiceProvider",
                "inputs": {
                    "parameters": {
                        "topicName": "ffc-pay-statement-crm-snd",
                        "subscriptionName": "crm",
                        "isSessionsEnabled": false
                    },
                    "serviceProviderConfiguration": {
                        "connectionName": "ffcServiceBus",
                        "operationId": "receiveTopicMessages",
                        "serviceProviderId": "/serviceProviders/serviceBus"
                    }
                },
                "splitOn": "@triggerOutputs()?['body']"
            }
        }
    },
    "kind": "Stateful"
}