PaymentStatementIntegrations/RleCrmInsert/workflow.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "Catch_Scope": {
                "actions": {
                    "Send_error_email": {
                        "inputs": {
                            "body": {
                                "apiKey": "@parameters('GovNotifyApiKey')",
                                "callingWorkflowName": "@{workflow().name}",
                                "progressText": "@variables('ProgressText')",
                                "stack": "@result('Try_Scope')",
                                "workflowRunId": "@{workflow().run.name}"
                            },
                            "host": {
                                "workflow": {
                                    "id": "SendErrorEmail"
                                }
                            }
                        },
                        "type": "Workflow"
                    }
                },
                "runAfter": {
                    "Try_Scope": [
                        "TIMEDOUT",
                        "FAILED",
                        "SKIPPED"
                    ]
                },
                "type": "Scope"
            },
            "Init_ActivityId": {
                "type": "InitializeVariable",
                "inputs": {
                    "variables": [
                        {
                            "name": "ActivityId",
                            "type": "string"
                        }
                    ]
                },
                "runAfter": {
                    "Init_NewCaseId": [
                        "SUCCEEDED"
                    ]
                }
            },
            "Init_FileList": {
                "type": "InitializeVariable",
                "inputs": {
                    "variables": [
                        {
                            "name": "FileList",
                            "type": "array"
                        }
                    ]
                },
                "runAfter": {},
                "trackedProperties": {
                    "WorkflowName": "RleCrmInsert"
                }
            },
            "Init_NewCaseId": {
                "type": "InitializeVariable",
                "inputs": {
                    "variables": [
                        {
                            "name": "NewCaseId",
                            "type": "string"
                        }
                    ]
                },
                "runAfter": {
                    "Initialize_ContactId": [
                        "SUCCEEDED"
                    ]
                }
            },
            "Init_OrganisationId": {
                "type": "InitializeVariable",
                "inputs": {
                    "variables": [
                        {
                            "name": "OrganisationId",
                            "type": "string"
                        }
                    ]
                },
                "runAfter": {
                    "Init_FileList": [
                        "SUCCEEDED"
                    ]
                }
            },
            "Initialize_ContactId": {
                "type": "InitializeVariable",
                "inputs": {
                    "variables": [
                        {
                            "name": "ContactId",
                            "type": "string"
                        }
                    ]
                },
                "runAfter": {
                    "Init_OrganisationId": [
                        "SUCCEEDED"
                    ]
                }
            },
            "Initialize_ProgressText": {
                "type": "InitializeVariable",
                "inputs": {
                    "variables": [
                        {
                            "name": "ProgressText",
                            "type": "string",
                            "value": "Started"
                        }
                    ]
                },
                "runAfter": {
                    "Init_SBI": [
                        "SUCCEEDED"
                    ]
                }
            },
            "Try_Scope": {
                "type": "Scope",
                "actions": {
                    "Is_File_Number_Match": {
                        "type": "If",
                        "expression": {
                            "and": [
                                {
                                    "equals": [
                                        "@body('Parse_CTL_File')?['filesInSubmission']",
                                        "@length(variables('FileList'))"
                                    ]
                                }
                            ]
                        },
                        "actions": {},
                        "else": {
                            "actions": {
                                "Append_file_mismatch_error": {
                                    "type": "AppendToStringVariable",
                                    "inputs": {
                                        "name": "ProgressText",
                                        "value": ": mismatch of file numbers in CTL"
                                    }
                                },
                                "Throw_error_file_number_mismatch": {
                                    "type": "Compose",
                                    "inputs": "@int('__ERROR_file_number_mismatch__')",
                                    "runAfter": {
                                        "Append_file_mismatch_error": [
                                            "SUCCEEDED"
                                        ]
                                    }
                                }
                            }
                        },
                        "runAfter": {
                            "Set_FileList": [
                                "SUCCEEDED"
                            ]
                        }
                    },
                    "Append_progress_activity_id": {
                        "type": "AppendToStringVariable",
                        "inputs": {
                            "name": "ProgressText",
                            "value": ": created activity @{variables('ActivityId')}"
                        },
                        "runAfter": {
                            "Extract_ActivityId": [
                                "SUCCEEDED"
                            ]
                        }
                    },
                    "Append_progress_case_id": {
                        "type": "AppendToStringVariable",
                        "inputs": {
                            "name": "ProgressText",
                            "value": ": created case id @{variables('NewCaseId')}"
                        },
                        "runAfter": {
                            "Extract_NewCaseId": [
                                "SUCCEEDED"
                            ]
                        }
                    },
                    "Append_progress_org_id": {
                        "type": "AppendToStringVariable",
                        "inputs": {
                            "name": "ProgressText",
                            "value": ": org_id @{variables('OrganisationId')} : sbi @{variables('SbiNumber')}"
                        },
                        "runAfter": {
                            "Is_SBI_valid": [
                                "SUCCEEDED"
                            ]
                        }
                    },
                    "Convert_Date_Format": {
                        "type": "Compose",
                        "inputs": "@formatDateTime(convertToUtc(parseDateTime(body('Parse_CTL_File')?['submissionDate'], 'en-GB', 'dd/MM/yyyy HH:mm:ss'),'GMT Standard Time'),'yyyy-MM-dd HH:mm:ss')",
                        "runAfter": {
                            "Append_progress_case_id": [
                                "SUCCEEDED"
                            ]
                        }
                    },
                    "Create_CRM_Case": {
                        "type": "Http",
                        "inputs": {
                            "uri": "@{parameters('CrmBaseUrl')}/api/data/v9.2/incidents?$select=incidentid",
                            "method": "POST",
                            "headers": {
                                "Authorization": "Bearer @{body('Parse_CRM_Token')?['access_token']}",
                                "Prefer": "return=representation"
                            },
                            "body": {
                                "caseorigincode": "100000002",
                                "casetypecode": "927350013",
                                "customerid_contact@odata.bind": "/contacts(@{variables('ContactId')})",
                                "rpa_Contact@odata.bind": "/contacts(@{variables('ContactId')})",
                                "rpa_Organisation@odata.bind": "/accounts(@{variables('OrganisationId')})",
                                "rpa_isunknowncontact": "false",
                                "rpa_isunknownorganisation": "false",
                                "title": "Online Submission @{body('Parse_CTL_File')['uosr']}"
                            }
                        },
                        "runAfter": {
                            "Extract_ContactId": [
                                "SUCCEEDED"
                            ]
                        },
                        "runtimeConfiguration": {
                            "contentTransfer": {
                                "transferMode": "Chunked"
                            }
                        }
                    },
                    "Create_Online_Submission_Activity": {
                        "type": "Http",
                        "inputs": {
                            "uri": "@{parameters('CrmBaseUrl')}/api/data/v9.2/rpa_onlinesubmissions?$select=activityid",
                            "method": "POST",
                            "headers": {
                                "Authorization": "@{body('Parse_CRM_Token')?['access_token']}",
                                "Prefer": "return=representation"
                            },
                            "body": {
                                "regardingobjectid_incident_rpa_onlinesubmission@odata.bind": "/incidents(@{variables('NewCaseId')})",
                                "rpa_filesinsubmission": "@{body('Parse_CTL_File')?['filesInSubmission']}",
                                "rpa_onlinesubmissiondate": "@{outputs('Convert_Date_Format')}",
                                "rpa_onlinesubmissionid": "@{body('Parse_CTL_File')?['uosr']}",
                                "subject": "eRLE1 @{body('Parse_CTL_File')?['type']} (@{body('Parse_CTL_File')['uosr']})"
                            }
                        },
                        "runAfter": {
                            "Convert_Date_Format": [
                                "SUCCEEDED"
                            ]
                        },
                        "runtimeConfiguration": {
                            "contentTransfer": {
                                "transferMode": "Chunked"
                            }
                        }
                    },
                    "Decode_blob_CTL_contents": {
                        "type": "Compose",
                        "inputs": "@base64ToString(outputs('Get_trigger_CTL_contents'))",
                        "runAfter": {
                            "Get_trigger_CTL_contents": [
                                "SUCCEEDED"
                            ]
                        }
                    },
                    "Extract_ActivityId": {
                        "type": "SetVariable",
                        "inputs": {
                            "name": "ActivityId",
                            "value": "@{body('Create_Online_Submission_Activity')?['activityid']}"
                        },
                        "runAfter": {
                            "Create_Online_Submission_Activity": [
                                "SUCCEEDED"
                            ]
                        }
                    },
                    "Extract_ContactId": {
                        "type": "SetVariable",
                        "inputs": {
                            "name": "ContactId",
                            "value": "@{outputs('Parse_Contact_Details')?['body']?['value'][0]['contactid']}"
                        },
                        "runAfter": {
                            "Parse_Contact_Details": [
                                "SUCCEEDED"
                            ]
                        }
                    },
                    "Extract_NewCaseId": {
                        "type": "SetVariable",
                        "inputs": {
                            "name": "NewCaseId",
                            "value": "@{body('Create_CRM_Case')?['incidentid']}"
                        },
                        "runAfter": {
                            "Create_CRM_Case": [
                                "SUCCEEDED"
                            ]
                        }
                    },
                    "Extract_OrganisationId": {
                        "type": "SetVariable",
                        "inputs": {
                            "name": "OrganisationId",
                            "value": "@{outputs('Parse_Org_Response')?['body']?['value'][0]['accountid']}"
                        },
                        "runAfter": {
                            "Parse_Org_Response": [
                                "SUCCEEDED"
                            ]
                        }
                    },
                    "Get_CRM_Contact": {
                        "type": "Http",
                        "inputs": {
                            "uri": "@{parameters('CrmBaseUrl')}/api/data/v9.2/contacts?$select=contactid,fullname&$filter=rpa_capcustomerid eq '@{body('Parse_CTL_File')?['crn']}'",
                            "method": "GET",
                            "headers": {
                                "Authorization": "Bearer @{body('Parse_CRM_Token')?['access_token']}"
                            }
                        },
                        "runAfter": {
                            "Append_progress_org_id": [
                                "SUCCEEDED"
                            ]
                        },
                        "runtimeConfiguration": {
                            "contentTransfer": {
                                "transferMode": "Chunked"
                            }
                        }
                    },
                    "Get_CRM_Org": {
                        "type": "Http",
                        "inputs": {
                            "uri": "@{parameters('CrmBaseUrl')}/api/data/v9.2/accounts?$select=name,accountid,rpa_sbinumber&$filter=rpa_capfirmid eq '@{body('Parse_CTL_File')?['frn']}'",
                            "method": "GET",
                            "headers": {
                                "Authorization": "Bearer @{body('Parse_CRM_Token')?['access_token']}"
                            }
                        },
                        "runAfter": {
                            "Parse_CRM_Token": [
                                "SUCCEEDED"
                            ]
                        },
                        "runtimeConfiguration": {
                            "contentTransfer": {
                                "transferMode": "Chunked"
                            }
                        }
                    },
                    "Get_CRM_Token": {
                        "type": "Http",
                        "inputs": {
                            "uri": "@{parameters('AdLoginBaseUrl')}/@{parameters('PortalTenantId')}/oauth2/token",
                            "method": "POST",
                            "headers": {
                                "Content-Type": "application/x-www-form-urlencoded"
                            },
                            "body": "grant_type=client_credentials\n&client_id=@{parameters('PortalClientId')}\n&client_secret=@{encodeUriComponent(parameters('PortalClientSecret'))}\n&resource=@{encodeUriComponent(parameters('CrmBaseUrl'))}"
                        },
                        "runAfter": {
                            "Is_File_Number_Match": [
                                "SUCCEEDED"
                            ]
                        },
                        "runtimeConfiguration": {
                            "contentTransfer": {
                                "transferMode": "Chunked"
                            },
                            "secureData": {
                                "properties": [
                                    "inputs",
                                    "outputs"
                                ]
                            }
                        }
                    },
                    "Get_trigger_CTL_contents": {
                        "type": "Compose",
                        "inputs": "@triggerBody()?['content']?['$content']"
                    },
                    "Has_ActivityId": {
                        "type": "If",
                        "expression": {
                            "and": [
                                {
                                    "not": {
                                        "equals": [
                                            "@string(variables('ActivityId'))",
                                            ""
                                        ]
                                    }
                                }
                            ]
                        },
                        "actions": {
                            "Append_progress_folder": {
                                "type": "AppendToStringVariable",
                                "inputs": {
                                    "name": "ProgressText",
                                    "value": ": created folder"
                                },
                                "runAfter": {
                                    "Create_Folder": [
                                        "SUCCEEDED"
                                    ]
                                }
                            },
                            "Create_Folder": {
                                "type": "Http",
                                "inputs": {
                                    "uri": "@{parameters('SharepointBaseUrl')}/@{parameters('SharepointSiteSubPath')}/_api/web/folders",
                                    "method": "POST",
                                    "headers": {
                                        "Authorization": "Bearer @{body('Parse_Sharepoint_Token')?['access_token']}",
                                        "Content-Type": "application/json"
                                    },
                                    "body": {
                                        "ServerRelativeUrl": "/@{parameters('SharepointSiteSubPath')}/Documents/@{body('Parse_CTL_File')?['uosr']}"
                                    }
                                },
                                "runAfter": {
                                    "Parse_Sharepoint_Token": [
                                        "SUCCEEDED"
                                    ]
                                },
                                "runtimeConfiguration": {
                                    "contentTransfer": {
                                        "transferMode": "Chunked"
                                    }
                                }
                            },
                            "For_each": {
                                "type": "Foreach",
                                "foreach": "@variables('FileList')",
                                "actions": {
                                    "Append_progress_filename": {
                                        "type": "AppendToStringVariable",
                                        "inputs": {
                                            "name": "ProgressText",
                                            "value": ": checking blob @{outputs('Get_filename')}"
                                        },
                                        "runAfter": {
                                            "Get_filename": [
                                                "SUCCEEDED"
                                            ]
                                        }
                                    },
                                    "Append_progress_metadata": {
                                        "type": "AppendToStringVariable",
                                        "inputs": {
                                            "name": "ProgressText",
                                            "value": ": created metadata"
                                        },
                                        "runAfter": {
                                            "Create_Meta_Data": [
                                                "SUCCEEDED"
                                            ]
                                        }
                                    },
                                    "Append_progress_sp": {
                                        "type": "AppendToStringVariable",
                                        "inputs": {
                                            "name": "ProgressText",
                                            "value": ": copied file @{outputs('Get_filename')} to SP"
                                        },
                                        "runAfter": {
                                            "Copy_To_Sharepoint": [
                                                "SUCCEEDED"
                                            ]
                                        }
                                    },
                                    "Copy_To_Sharepoint": {
                                        "type": "Http",
                                        "inputs": {
                                            "uri": "@{parameters('SharepointBaseUrl')}/@{parameters('SharepointSiteSubPath')}/_api/web/GetFolderByServerRelativeUrl('Documents/@{body('Parse_CTL_File')?['uosr']}')/Files/add(url='@{outputs('Get_filename')}',overwrite=true)",
                                            "method": "POST",
                                            "headers": {
                                                "Authorization": "Bearer @{body('Parse_Sharepoint_Token')?['access_token']}",
                                                "accept": "application/json"
                                            },
                                            "body": "@body('Read_blob_content')?['content']"
                                        },
                                        "runAfter": {
                                            "Read_blob_content": [
                                                "SUCCEEDED"
                                            ]
                                        },
                                        "runtimeConfiguration": {
                                            "contentTransfer": {
                                                "transferMode": "Chunked"
                                            }
                                        }
                                    },
                                    "Create_Meta_Data": {
                                        "type": "Http",
                                        "inputs": {
                                            "uri": "@{parameters('CrmBaseUrl')}/api/data/v9.2/rpa_activitymetadatas",
                                            "method": "POST",
                                            "headers": {
                                                "Authorization": "Bearer @{body('Parse_CRM_Token')?['access_token']}"
                                            },
                                            "body": {
                                                "rpa_RelatedCase@odata.bind": "/incidents(@{variables('NewCaseId')})",
                                                "rpa_RelatedOnlineSubmissionId@odata.bind": "/rpa_onlinesubmissions(@{variables('ActivityId')})",
                                                "rpa_contact@odata.bind": "/contacts(@{variables('ContactId')})",
                                                "rpa_crn": "@{body('Parse_CTL_File')?['crn']}",
                                                "rpa_direction": "true",
                                                "rpa_docrefproxy": "SFIPS",
                                                "rpa_fileabsoluteurl": "@{parameters('SharepointBaseUrl')}@{body('Copy_To_Sharepoint')['ServerRelativeUrl']}",
                                                "rpa_filename": "@{outputs('Get_filename')}",
                                                "rpa_organisation@odata.bind": "/accounts(@{variables('OrganisationId')})",
                                                "rpa_sbi": "@{variables('SbiNumber')}"
                                            }
                                        },
                                        "runAfter": {
                                            "Append_progress_sp": [
                                                "SUCCEEDED"
                                            ]
                                        },
                                        "runtimeConfiguration": {
                                            "contentTransfer": {
                                                "transferMode": "Chunked"
                                            }
                                        }
                                    },
                                    "Get_filename": {
                                        "type": "Compose",
                                        "inputs": "@item()"
                                    },
                                    "Read_blob_content": {
                                        "type": "ServiceProvider",
                                        "inputs": {
                                            "parameters": {
                                                "containerName": "rle-container",
                                                "blobName": "@concat('/',body('Parse_CTL_File')?['uosr'],'/',item())"
                                            },
                                            "serviceProviderConfiguration": {
                                                "connectionName": "azureBlobRle",
                                                "operationId": "readBlob",
                                                "serviceProviderId": "/serviceProviders/AzureBlob"
                                            }
                                        },
                                        "runAfter": {
                                            "Append_progress_filename": [
                                                "SUCCEEDED"
                                            ]
                                        }
                                    }
                                },
                                "runAfter": {
                                    "Append_progress_folder": [
                                        "SUCCEEDED"
                                    ]
                                }
                            },
                            "Get_Sharepoint_Token": {
                                "type": "Http",
                                "inputs": {
                                    "uri": "@{parameters('SharepointLoginBaseUrl')}/@{parameters('SharepointTenantId')}/tokens/OAuth/2/",
                                    "method": "POST",
                                    "headers": {
                                        "Content-Type": "application/x-www-form-urlencoded"
                                    },
                                    "body": "client_id=@{parameters('SharepointClientId')}%40@{parameters('SharepointTenantId')}\n&resource=00000003-0000-0ff1-ce00-000000000000/@{parameters('SharepointDomain')}%40@{parameters('SharepointTenantId')}\n&grant_type=client_credentials\n&client_secret=@{encodeUriComponent(parameters('SharepointClientSecret'))}"
                                },
                                "runtimeConfiguration": {
                                    "contentTransfer": {
                                        "transferMode": "Chunked"
                                    },
                                    "secureData": {
                                        "properties": [
                                            "inputs",
                                            "outputs"
                                        ]
                                    }
                                }
                            },
                            "Parse_Sharepoint_Token": {
                                "type": "ParseJson",
                                "inputs": {
                                    "content": "@body('Get_Sharepoint_Token')",
                                    "schema": {
                                        "properties": {
                                            "access_token": {
                                                "type": "string"
                                            },
                                            "expires_in": {
                                                "type": "string"
                                            },
                                            "token_type": {
                                                "type": "string"
                                            }
                                        },
                                        "type": "object"
                                    }
                                },
                                "runAfter": {
                                    "Get_Sharepoint_Token": [
                                        "SUCCEEDED"
                                    ]
                                }
                            }
                        },
                        "else": {
                            "actions": {
                                "Append_error_missing_activity": {
                                    "type": "AppendToStringVariable",
                                    "inputs": {
                                        "name": "ProgressText",
                                        "value": ": missing activity id"
                                    }
                                },
                                "Throw_error_missing_activity": {
                                    "type": "Compose",
                                    "inputs": "@int('__ERROR_missing_activity__')",
                                    "runAfter": {
                                        "Append_error_missing_activity": [
                                            "SUCCEEDED"
                                        ]
                                    }
                                }
                            }
                        },
                        "runAfter": {
                            "Append_progress_activity_id": [
                                "SUCCEEDED"
                            ]
                        }
                    },
                    "Parse_CRM_Token": {
                        "type": "ParseJson",
                        "inputs": {
                            "content": "@body('Get_CRM_Token')",
                            "schema": {
                                "properties": {
                                    "access_token": {
                                        "type": "string"
                                    },
                                    "expires_in": {
                                        "type": "string"
                                    },
                                    "expires_on": {
                                        "type": "string"
                                    },
                                    "ext_expires_in": {
                                        "type": "string"
                                    },
                                    "not_before": {
                                        "type": "string"
                                    },
                                    "resource": {
                                        "type": "string"
                                    },
                                    "token_type": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        },
                        "runAfter": {
                            "Get_CRM_Token": [
                                "SUCCEEDED"
                            ]
                        }
                    },
                    "Parse_CTL_File": {
                        "type": "ParseJson",
                        "inputs": {
                            "content": "@outputs('Decode_blob_CTL_contents')",
                            "schema": {
                                "properties": {
                                    "crn": {
                                        "type": "string"
                                    },
                                    "files": {
                                        "items": {
                                            "type": "string"
                                        },
                                        "type": "array"
                                    },
                                    "filesInSubmission": {
                                        "type": "integer"
                                    },
                                    "frn": {
                                        "type": "string"
                                    },
                                    "sbi": {
                                        "type": "string"
                                    },
                                    "submissionDate": {
                                        "type": "string"
                                    },
                                    "type": {
                                        "type": "string"
                                    },
                                    "uosr": {
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "crn",
                                    "frn",
                                    "uosr",
                                    "submissionDate",
                                    "filesInSubmission",
                                    "files"
                                ],
                                "type": "object"
                            }
                        },
                        "runAfter": {
                            "Decode_blob_CTL_contents": [
                                "SUCCEEDED"
                            ]
                        }
                    },
                    "Parse_Contact_Details": {
                        "type": "ParseJson",
                        "inputs": {
                            "content": "@body('Get_CRM_Contact')",
                            "schema": {
                                "properties": {
                                    "value": {
                                        "items": {
                                            "properties": {
                                                "contactid": {
                                                    "type": "string"
                                                },
                                                "fullname": {
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "contactid",
                                                "fullname"
                                            ],
                                            "type": "object"
                                        },
                                        "type": "array"
                                    }
                                },
                                "type": "object"
                            }
                        },
                        "runAfter": {
                            "Get_CRM_Contact": [
                                "SUCCEEDED"
                            ]
                        }
                    },
                    "Parse_Org_Response": {
                        "type": "ParseJson",
                        "inputs": {
                            "content": "@body('Get_CRM_Org')",
                            "schema": {
                                "properties": {
                                    "@@odata.context": {
                                        "type": "string"
                                    },
                                    "value": {
                                        "items": {
                                            "properties": {
                                                "accountid": {
                                                    "type": "string"
                                                },
                                                "name": {
                                                    "type": "string"
                                                },
                                                "rpa_sbinumber": {
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "name",
                                                "accountid",
                                                "rpa_sbinumber"
                                            ],
                                            "type": "object"
                                        },
                                        "type": "array"
                                    }
                                },
                                "type": "object"
                            }
                        },
                        "runAfter": {
                            "Get_CRM_Org": [
                                "SUCCEEDED"
                            ]
                        }
                    },
                    "Set_FileList": {
                        "type": "SetVariable",
                        "inputs": {
                            "name": "FileList",
                            "value": "@body('Parse_CTL_File')?['files']"
                        },
                        "runAfter": {
                            "Parse_CTL_File": [
                                "SUCCEEDED"
                            ]
                        }
                    },
                    "Is_SBI_valid": {
                        "type": "If",
                        "expression": {
                            "and": [
                                {
                                    "not": {
                                        "equals": [
                                            "@string(body('Parse_CTL_File')?['sbi'])",
                                            ""
                                        ]
                                    }
                                }
                            ]
                        },
                        "actions": {
                            "Set_SBI_from_CTL": {
                                "type": "SetVariable",
                                "inputs": {
                                    "name": "SbiNumber",
                                    "value": "@body('Parse_CTL_File')?['sbi']"
                                }
                            }
                        },
                        "else": {
                            "actions": {
                                "Set_SBI_from_Org": {
                                    "type": "SetVariable",
                                    "inputs": {
                                        "name": "SbiNumber",
                                        "value": "@{outputs('Parse_Org_Response')?['body']?['value'][0]['rpa_sbinumber']}"
                                    }
                                }
                            }
                        },
                        "runAfter": {
                            "Extract_OrganisationId": [
                                "SUCCEEDED"
                            ]
                        }
                    }
                },
                "runAfter": {
                    "Initialize_ProgressText": [
                        "SUCCEEDED"
                    ]
                }
            },
            "Init_SBI": {
                "type": "InitializeVariable",
                "inputs": {
                    "variables": [
                        {
                            "name": "SbiNumber",
                            "type": "string"
                        }
                    ]
                },
                "runAfter": {
                    "Init_ActivityId": [
                        "SUCCEEDED"
                    ]
                }
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "parameters": {
            "AdLoginBaseUrl": {
                "type": "String",
                "value": "@appsetting('AdLoginBaseUrl')",
                "defaultValue": "@appsetting('AdLoginBaseUrl')"
            },
            "CrmBaseUrl": {
                "type": "String",
                "value": "@appsetting('CrmBaseUrl')",
                "defaultValue": "@appsetting('CrmBaseUrl')"
            },
            "EmailAzureFunctionEndpoint": {
                "type": "String",
                "value": "@appsetting('EmailAzureFunctionEndpoint')",
                "defaultValue": "@appsetting('EmailAzureFunctionEndpoint')"
            },
            "ErrorEmailTempateId": {
                "type": "String",
                "value": "@appsetting('ErrorEmailTempateId')",
                "defaultValue": "@appsetting('ErrorEmailTempateId')"
            },
            "FfcRetrievalWorkflowSasToken": {
                "type": "String",
                "value": "@appsetting('FfcRetrievalWorkflowSasToken')",
                "defaultValue": "@appsetting('FfcRetrievalWorkflowSasToken')"
            },
            "FfcRetrievalWorkflowEndpoint": {
                "type": "String",
                "value": "@appsetting('FfcRetrievalWorkflowEndpoint')",
                "defaultValue": "@appsetting('FfcRetrievalWorkflowEndpoint')"
            },
            "GovNotifyApiKey": {
                "type": "String",
                "value": "@appsetting('GovNotifyApiKey')",
                "defaultValue": "@appsetting('GovNotifyApiKey')"
            },
            "PdfServiceUrl": {
                "type": "String",
                "value": "@appsetting('PdfServiceUrl')",
                "defaultValue": "@appsetting('PdfServiceUrl')"
            },
            "PortalClientId": {
                "type": "String",
                "value": "@appsetting('PortalClientId')",
                "defaultValue": "@appsetting('PortalClientId')"
            },
            "PortalClientSecret": {
                "type": "String",
                "value": "@appsetting('PortalClientSecret')",
                "defaultValue": "@appsetting('PortalClientSecret')"
            },
            "PortalTenantId": {
                "type": "String",
                "value": "@appsetting('PortalTenantId')",
                "defaultValue": "@appsetting('PortalTenantId')"
            },
            "SharepointBaseUrl": {
                "type": "String",
                "value": "@appsetting('SharepointBaseUrl')",
                "defaultValue": "@appsetting('SharepointBaseUrl')"
            },
            "SharepointClientId": {
                "type": "String",
                "value": "@appsetting('SharepointClientId')",
                "defaultValue": "@appsetting('SharepointClientId')"
            },
            "SharepointClientSecret": {
                "type": "String",
                "value": "@appsetting('SharepointClientSecret')",
                "defaultValue": "@appsetting('SharepointClientSecret')"
            },
            "SharepointDomain": {
                "type": "String",
                "value": "@appsetting('SharepointDomain')",
                "defaultValue": "@appsetting('SharepointDomain')"
            },
            "SharepointLoginBaseUrl": {
                "type": "String",
                "value": "@appsetting('SharepointLoginBaseUrl')",
                "defaultValue": "@appsetting('SharepointLoginBaseUrl')"
            },
            "SharepointSiteSubPath": {
                "type": "String",
                "value": "@appsetting('SharepointSiteSubPath')",
                "defaultValue": "@appsetting('SharepointSiteSubPath')"
            },
            "SharepointTenantId": {
                "type": "String",
                "value": "@appsetting('SharepointTenantId')",
                "defaultValue": "@appsetting('SharepointTenantId')"
            },
            "UnknownContactId": {
                "type": "String",
                "value": "@appsetting('UnknownContactId')",
                "defaultValue": "@appsetting('UnknownContactId')"
            }
        },
        "triggers": {
            "When_a_blob_is_added_or_updated": {
                "type": "ServiceProvider",
                "inputs": {
                    "parameters": {
                        "path": "rle-container"
                    },
                    "serviceProviderConfiguration": {
                        "connectionName": "azureBlobRle",
                        "operationId": "whenABlobIsAddedOrModified",
                        "serviceProviderId": "/serviceProviders/AzureBlob"
                    }
                },
                "conditions": [
                    {
                        "expression": "@endsWith(triggerBody()?['Name'],'.ctrl')"
                    }
                ]
            }
        }
    },
    "kind": "Stateful"
}