PaymentStatementIntegrations/RleCrmInsert/workflow.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "Catch_Scope": {
                "actions": {
                    "Log_error": {
                        "inputs": {
                            "body": {
                                "callingWorkflowName": "@{workflow().name}",
                                "progressText": "@variables('ProgressText')",
                                "stack": "@result('Try_Scope')",
                                "workflowRunId": "@{workflow().run.name}"
                            },
                            "host": {
                                "workflow": {
                                    "id": "ErrorLogging"
                                }
                            }
                        },
                        "type": "Workflow"
                    }
                },
                "runAfter": {
                    "Try_Scope": [
                        "TIMEDOUT",
                        "FAILED",
                        "SKIPPED"
                    ]
                },
                "type": "Scope"
            },
            "Init_ActivityId": {
                "inputs": {
                    "variables": [
                        {
                            "name": "ActivityId",
                            "type": "string"
                        }
                    ]
                },
                "runAfter": {
                    "Init_NewCaseNumber": [
                        "SUCCEEDED"
                    ]
                },
                "type": "InitializeVariable"
            },
            "Init_FileList": {
                "inputs": {
                    "variables": [
                        {
                            "name": "FileList",
                            "type": "array"
                        }
                    ]
                },
                "runAfter": {},
                "trackedProperties": {
                    "WorkflowName": "RleCrmInsert"
                },
                "type": "InitializeVariable"
            },
            "Init_NewCaseId": {
                "inputs": {
                    "variables": [
                        {
                            "name": "NewCaseId",
                            "type": "string"
                        }
                    ]
                },
                "runAfter": {
                    "Initialize_ContactId": [
                        "SUCCEEDED"
                    ]
                },
                "type": "InitializeVariable"
            },
            "Init_NewCaseNumber": {
                "inputs": {
                    "variables": [
                        {
                            "name": "NewCaseNumber",
                            "type": "string"
                        }
                    ]
                },
                "runAfter": {
                    "Init_NewCaseId": [
                        "SUCCEEDED"
                    ]
                },
                "type": "InitializeVariable"
            },
            "Init_OrganisationId": {
                "inputs": {
                    "variables": [
                        {
                            "name": "OrganisationId",
                            "type": "string"
                        }
                    ]
                },
                "runAfter": {
                    "Init_FileList": [
                        "SUCCEEDED"
                    ]
                },
                "type": "InitializeVariable"
            },
            "Init_SBI": {
                "inputs": {
                    "variables": [
                        {
                            "name": "SbiNumber",
                            "type": "string"
                        }
                    ]
                },
                "runAfter": {
                    "Init_ActivityId": [
                        "SUCCEEDED"
                    ]
                },
                "type": "InitializeVariable"
            },
            "Initialize_ContactId": {
                "inputs": {
                    "variables": [
                        {
                            "name": "ContactId",
                            "type": "string"
                        }
                    ]
                },
                "runAfter": {
                    "Init_OrganisationId": [
                        "SUCCEEDED"
                    ]
                },
                "type": "InitializeVariable"
            },
            "Initialize_FilesInSubmission": {
                "inputs": {
                    "variables": [
                        {
                            "name": "FilesInSubmission",
                            "type": "integer",
                            "value": 0
                        }
                    ]
                },
                "runAfter": {
                    "Init_SBI": [
                        "SUCCEEDED"
                    ]
                },
                "type": "InitializeVariable"
            },
            "Initialize_ProgressText": {
                "inputs": {
                    "variables": [
                        {
                            "name": "ProgressText",
                            "type": "string",
                            "value": "Started"
                        }
                    ]
                },
                "runAfter": {
                    "Initialize_FilesInSubmission": [
                        "SUCCEEDED"
                    ]
                },
                "type": "InitializeVariable"
            },
            "Initialize_uosr": {
                "inputs": {
                    "variables": [
                        {
                            "name": "uosr",
                            "type": "string"
                        }
                    ]
                },
                "runAfter": {
                    "Initialize_ProgressText": [
                        "SUCCEEDED"
                    ]
                },
                "type": "InitializeVariable"
            },
            "Try_Scope": {
                "actions": {
                    "Append_progress_activity_id": {
                        "inputs": {
                            "name": "ProgressText",
                            "value": ": created activity @{variables('ActivityId')}"
                        },
                        "runAfter": {
                            "Extract_ActivityId": [
                                "SUCCEEDED"
                            ]
                        },
                        "type": "AppendToStringVariable"
                    },
                    "Append_progress_case_id": {
                        "inputs": {
                            "name": "ProgressText",
                            "value": ": created case id @{variables('NewCaseId')}"
                        },
                        "runAfter": {
                            "Extract_NewCaseNumber": [
                                "SUCCEEDED"
                            ]
                        },
                        "type": "AppendToStringVariable"
                    },
                    "Append_progress_org_id": {
                        "inputs": {
                            "name": "ProgressText",
                            "value": ": org_id @{variables('OrganisationId')} : sbi @{variables('SbiNumber')}"
                        },
                        "runAfter": {
                            "Is_SBI_valid": [
                                "SUCCEEDED"
                            ]
                        },
                        "type": "AppendToStringVariable"
                    },
                    "Check_Valid_Doc_Type": {
                        "actions": {},
                        "else": {
                            "actions": {
                                "Append_type_value_error": {
                                    "inputs": {
                                        "name": "ProgressText",
                                        "value": ": invalid 'type' value"
                                    },
                                    "type": "AppendToStringVariable"
                                },
                                "Throw_invalid_type_error": {
                                    "inputs": "@int('__ERROR_invalid_type__')",
                                    "runAfter": {
                                        "Append_type_value_error": [
                                            "SUCCEEDED"
                                        ]
                                    },
                                    "type": "Compose"
                                }
                            }
                        },
                        "expression": {
                            "and": [
                                {
                                    "not": {
                                        "equals": [
                                            "@outputs('Determine_doc_type')",
                                            "-NOTFOUND-"
                                        ]
                                    }
                                }
                            ]
                        },
                        "runAfter": {
                            "Determine_doc_type": [
                                "SUCCEEDED"
                            ]
                        },
                        "type": "If"
                    },
                    "Convert_Date_Format": {
                        "inputs": "@formatDateTime(convertToUtc(parseDateTime(body('Parse_CTL_File')?['submissionDateTime'], 'en-GB', 'dd/MM/yyyy HH:mm:ss'),'GMT Standard Time'),'yyyy-MM-dd HH:mm:ss')",
                        "runAfter": {
                            "Append_progress_case_id": [
                                "SUCCEEDED"
                            ]
                        },
                        "type": "Compose"
                    },
                    "Create_CRM_Case": {
                        "inputs": {
                            "body": {
                                "caseorigincode": "100000002",
                                "casetypecode": "927350013",
                                "customerid_contact@odata.bind": "/contacts(@{variables('ContactId')})",
                                "rpa_Contact@odata.bind": "/contacts(@{variables('ContactId')})",
                                "rpa_Organisation@odata.bind": "/accounts(@{variables('OrganisationId')})",
                                "rpa_isunknowncontact": "false",
                                "rpa_isunknownorganisation": "false",
                                "title": "Online Submission @{body('Parse_CTL_File')['uosr']}"
                            },
                            "headers": {
                                "Authorization": "Bearer @{body('Parse_CRM_Token')?['access_token']}",
                                "Prefer": "return=representation"
                            },
                            "method": "POST",
                            "uri": "@{parameters('CrmBaseUrl')}/api/data/v9.2/incidents?$select=incidentid,ticketnumber"
                        },
                        "runAfter": {
                            "Extract_ContactId": [
                                "SUCCEEDED"
                            ]
                        },
                        "runtimeConfiguration": {
                            "contentTransfer": {
                                "transferMode": "Chunked"
                            }
                        },
                        "type": "Http"
                    },
                    "Create_Online_Submission_Activity": {
                        "inputs": {
                            "body": {
                                "regardingobjectid_incident_rpa_onlinesubmission@odata.bind": "/incidents(@{variables('NewCaseId')})",
                                "rpa_SubmissionType_rpa_onlinesubmission@odata.bind": "/rpa_documenttypeses(@{outputs('Determine_doc_type')?['id']})",
                                "rpa_filesinsubmission": "@{variables('FilesInSubmission')}",
                                "rpa_onlinesubmission_activity_parties": [
                                    {
                                        "participationtypemask": 1,
                                        "partyid_contact@odata.bind": "/contacts(@{variables('ContactId')})"
                                    },
                                    {
                                        "participationtypemask": 11,
                                        "partyid_account@odata.bind": "/accounts(@{variables('OrganisationId')})"
                                    }
                                ],
                                "rpa_onlinesubmissiondate": "@{outputs('Convert_Date_Format')}",
                                "rpa_onlinesubmissionid": "@{body('Parse_CTL_File')?['uosr']}",
                                "subject": "eRLE1 @{outputs('Determine_doc_type')?['desc']} (@{body('Parse_CTL_File')['uosr']})"
                            },
                            "headers": {
                                "Authorization": "@{body('Parse_CRM_Token')?['access_token']}",
                                "Prefer": "return=representation"
                            },
                            "method": "POST",
                            "uri": "@{parameters('CrmBaseUrl')}/api/data/v9.2/rpa_onlinesubmissions?$select=activityid"
                        },
                        "runAfter": {
                            "Convert_Date_Format": [
                                "SUCCEEDED"
                            ]
                        },
                        "runtimeConfiguration": {
                            "contentTransfer": {
                                "transferMode": "Chunked"
                            }
                        },
                        "type": "Http"
                    },
                    "Decode_blob_CTL_contents": {
                        "inputs": "@base64ToString(outputs('Get_trigger_CTL_contents'))",
                        "runAfter": {
                            "Get_trigger_CTL_contents": [
                                "SUCCEEDED"
                            ]
                        },
                        "type": "Compose"
                    },
                    "Determine_doc_type": {
                        "inputs": {
                            "code": "const lookups = JSON.parse(workflowContext.actions.Get_Doc_Type_Lookups.outputs);\nconst typeCode = workflowContext.actions.Parse_CTL_File.outputs.body['type'];\nvar result = lookups[typeCode];\nreturn result ? result : '-NOTFOUND-';"
                        },
                        "runAfter": {
                            "Get_Doc_Type_Lookups": [
                                "SUCCEEDED"
                            ]
                        },
                        "type": "JavaScriptCode"
                    },
                    "Extract_ActivityId": {
                        "inputs": {
                            "name": "ActivityId",
                            "value": "@{body('Create_Online_Submission_Activity')?['activityid']}"
                        },
                        "runAfter": {
                            "Create_Online_Submission_Activity": [
                                "SUCCEEDED"
                            ]
                        },
                        "type": "SetVariable"
                    },
                    "Extract_ContactId": {
                        "inputs": {
                            "name": "ContactId",
                            "value": "@{outputs('Parse_Contact_Details')?['body']?['value'][0]['contactid']}"
                        },
                        "runAfter": {
                            "Parse_Contact_Details": [
                                "SUCCEEDED"
                            ]
                        },
                        "type": "SetVariable"
                    },
                    "Extract_NewCaseId": {
                        "inputs": {
                            "name": "NewCaseId",
                            "value": "@{body('Create_CRM_Case')?['incidentid']}"
                        },
                        "runAfter": {
                            "Create_CRM_Case": [
                                "SUCCEEDED"
                            ]
                        },
                        "type": "SetVariable"
                    },
                    "Extract_NewCaseNumber": {
                        "inputs": {
                            "name": "NewCaseNumber",
                            "value": "@{body('Create_CRM_Case')['ticketnumber']}"
                        },
                        "runAfter": {
                            "Extract_NewCaseId": [
                                "SUCCEEDED"
                            ]
                        },
                        "type": "SetVariable"
                    },
                    "Extract_OrganisationId": {
                        "inputs": {
                            "name": "OrganisationId",
                            "value": "@{outputs('Parse_Org_Response')?['body']?['value'][0]['accountid']}"
                        },
                        "runAfter": {
                            "Parse_Org_Response": [
                                "SUCCEEDED"
                            ]
                        },
                        "type": "SetVariable"
                    },
                    "Get_CRM_Contact": {
                        "inputs": {
                            "headers": {
                                "Authorization": "Bearer @{body('Parse_CRM_Token')?['access_token']}"
                            },
                            "method": "GET",
                            "uri": "@{parameters('CrmBaseUrl')}/api/data/v9.2/contacts?$select=contactid,fullname&$filter=rpa_capcustomerid eq '@{body('Parse_CTL_File')?['crn']}'"
                        },
                        "runAfter": {
                            "Check_Valid_Doc_Type": [
                                "SUCCEEDED"
                            ]
                        },
                        "runtimeConfiguration": {
                            "contentTransfer": {
                                "transferMode": "Chunked"
                            }
                        },
                        "type": "Http"
                    },
                    "Get_CRM_Org": {
                        "inputs": {
                            "headers": {
                                "Authorization": "Bearer @{body('Parse_CRM_Token')?['access_token']}"
                            },
                            "method": "GET",
                            "uri": "@{parameters('CrmBaseUrl')}/api/data/v9.2/accounts?$select=name,accountid,rpa_sbinumber&$filter=rpa_capfirmid eq '@{body('Parse_CTL_File')?['frn']}'"
                        },
                        "runAfter": {
                            "Parse_CRM_Token": [
                                "SUCCEEDED"
                            ]
                        },
                        "runtimeConfiguration": {
                            "contentTransfer": {
                                "transferMode": "Chunked"
                            }
                        },
                        "type": "Http"
                    },
                    "Get_CRM_Token": {
                        "inputs": {
                            "body": "grant_type=client_credentials\n&client_id=@{parameters('PortalClientId')}\n&client_secret=@{encodeUriComponent(parameters('PortalClientSecret'))}\n&resource=@{encodeUriComponent(parameters('CrmBaseUrl'))}",
                            "headers": {
                                "Content-Type": "application/x-www-form-urlencoded"
                            },
                            "method": "POST",
                            "uri": "@{parameters('AdLoginBaseUrl')}/@{parameters('PortalTenantId')}/oauth2/token"
                        },
                        "runAfter": {
                            "Is_File_Number_Match": [
                                "SUCCEEDED"
                            ]
                        },
                        "runtimeConfiguration": {
                            "contentTransfer": {
                                "transferMode": "Chunked"
                            },
                            "secureData": {
                                "properties": [
                                    "inputs",
                                    "outputs"
                                ]
                            }
                        },
                        "type": "Http"
                    },
                    "Get_Doc_Type_Lookups": {
                        "inputs": "@parameters('CrmDocTypeLookup')",
                        "runAfter": {
                            "Append_progress_org_id": [
                                "SUCCEEDED"
                            ]
                        },
                        "type": "Compose"
                    },
                    "Get_trigger_CTL_contents": {
                        "inputs": "@triggerBody()?['content']?['$content']",
                        "type": "Compose"
                    },
                    "Has_ActivityId": {
                        "actions": {
                            "Append_progress_folder": {
                                "inputs": {
                                    "name": "ProgressText",
                                    "value": ": created folder"
                                },
                                "runAfter": {
                                    "Create_Sub_Folder": [
                                        "SUCCEEDED"
                                    ]
                                },
                                "type": "AppendToStringVariable"
                            },
                            "Create_Parent_Folder": {
                                "inputs": {
                                    "body": {
                                        "ServerRelativeUrl": "/@{parameters('SharepointSiteSubPath')}/Documents/@{variables('NewCaseNumber')}"
                                    },
                                    "headers": {
                                        "Authorization": "Bearer @{body('Parse_Sharepoint_Token')?['access_token']}",
                                        "Content-Type": "application/json"
                                    },
                                    "method": "POST",
                                    "uri": "@{parameters('SharepointBaseUrl')}/@{parameters('SharepointSiteSubPath')}/_api/web/folders"
                                },
                                "runAfter": {
                                    "Parse_Sharepoint_Token": [
                                        "SUCCEEDED"
                                    ]
                                },
                                "runtimeConfiguration": {
                                    "contentTransfer": {
                                        "transferMode": "Chunked"
                                    }
                                },
                                "type": "Http"
                            },
                            "Create_Sub_Folder": {
                                "inputs": {
                                    "body": {
                                        "ServerRelativeUrl": "/@{parameters('SharepointSiteSubPath')}/Documents/@{variables('NewCaseNumber')}/@{variables('ActivityId')}"
                                    },
                                    "headers": {
                                        "Authorization": "Bearer @{body('Parse_Sharepoint_Token')?['access_token']}",
                                        "Content-Type": "application/json"
                                    },
                                    "method": "POST",
                                    "uri": "@{parameters('SharepointBaseUrl')}/@{parameters('SharepointSiteSubPath')}/_api/web/folders"
                                },
                                "runAfter": {
                                    "Create_Parent_Folder": [
                                        "SUCCEEDED"
                                    ]
                                },
                                "runtimeConfiguration": {
                                    "contentTransfer": {
                                        "transferMode": "Chunked"
                                    }
                                },
                                "type": "Http"
                            },
                            "For_each": {
                                "actions": {
                                    "Append_progress_filename": {
                                        "inputs": {
                                            "name": "ProgressText",
                                            "value": ": checking blob @{outputs('Get_filename')}"
                                        },
                                        "runAfter": {
                                            "Get_filename": [
                                                "SUCCEEDED"
                                            ]
                                        },
                                        "type": "AppendToStringVariable"
                                    },
                                    "Append_progress_metadata": {
                                        "inputs": {
                                            "name": "ProgressText",
                                            "value": ": created metadata"
                                        },
                                        "runAfter": {
                                            "Create_Meta_Data": [
                                                "SUCCEEDED"
                                            ]
                                        },
                                        "type": "AppendToStringVariable"
                                    },
                                    "Append_progress_sp": {
                                        "inputs": {
                                            "name": "ProgressText",
                                            "value": ": copied file @{outputs('Get_filename')} to SP"
                                        },
                                        "runAfter": {
                                            "Copy_To_Sharepoint": [
                                                "SUCCEEDED"
                                            ]
                                        },
                                        "type": "AppendToStringVariable"
                                    },
                                    "Copy_To_Sharepoint": {
                                        "inputs": {
                                            "body": "@body('Read_blob_content')?['content']",
                                            "headers": {
                                                "Authorization": "Bearer @{body('Parse_Sharepoint_Token')?['access_token']}",
                                                "accept": "application/json"
                                            },
                                            "method": "POST",
                                            "uri": "@{parameters('SharepointBaseUrl')}/@{parameters('SharepointSiteSubPath')}/_api/web/GetFolderByServerRelativeUrl('Documents/@{variables('NewCaseNumber')}/@{variables('ActivityId')}')/Files/add(url='@{outputs('Get_filename')}',overwrite=true)"
                                        },
                                        "runAfter": {
                                            "Read_blob_content": [
                                                "SUCCEEDED"
                                            ]
                                        },
                                        "runtimeConfiguration": {
                                            "contentTransfer": {
                                                "transferMode": "Chunked"
                                            }
                                        },
                                        "type": "Http"
                                    },
                                    "Create_Meta_Data": {
                                        "inputs": {
                                            "body": {
                                                "rpa_RelatedCase@odata.bind": "/incidents(@{variables('NewCaseId')})",
                                                "rpa_RelatedOnlineSubmissionId@odata.bind": "/rpa_onlinesubmissions(@{variables('ActivityId')})",
                                                "rpa_contact@odata.bind": "/contacts(@{variables('ContactId')})",
                                                "rpa_crn": "@{body('Parse_CTL_File')?['crn']}",
                                                "rpa_direction": "false",
                                                "rpa_docrefproxy": "@{if(equals(outputs('Get_filename'),concat('SUMMARY_',variables('uosr'),'.pdf')), 'PDFREC', 'LNDMAP')}",
                                                "rpa_fileabsoluteurl": "@{parameters('SharepointBaseUrl')}@{body('Copy_To_Sharepoint')['ServerRelativeUrl']}",
                                                "rpa_filename": "@{outputs('Get_filename')}",
                                                "rpa_organisation@odata.bind": "/accounts(@{variables('OrganisationId')})",
                                                "rpa_sbi": "@{variables('SbiNumber')}"
                                            },
                                            "headers": {
                                                "Authorization": "Bearer @{body('Parse_CRM_Token')?['access_token']}"
                                            },
                                            "method": "POST",
                                            "uri": "@{parameters('CrmBaseUrl')}/api/data/v9.2/rpa_activitymetadatas"
                                        },
                                        "runAfter": {
                                            "Append_progress_sp": [
                                                "SUCCEEDED"
                                            ]
                                        },
                                        "runtimeConfiguration": {
                                            "contentTransfer": {
                                                "transferMode": "Chunked"
                                            }
                                        },
                                        "type": "Http"
                                    },
                                    "Get_filename": {
                                        "inputs": "@item()",
                                        "type": "Compose"
                                    },
                                    "Read_blob_content": {
                                        "inputs": {
                                            "parameters": {
                                                "blobName": "@concat('/',body('Parse_CTL_File')?['uosr'],'/',item())",
                                                "containerName": "rle-container"
                                            },
                                            "serviceProviderConfiguration": {
                                                "connectionName": "azureBlobRle",
                                                "operationId": "readBlob",
                                                "serviceProviderId": "/serviceProviders/AzureBlob"
                                            }
                                        },
                                        "runAfter": {
                                            "Append_progress_filename": [
                                                "SUCCEEDED"
                                            ]
                                        },
                                        "type": "ServiceProvider"
                                    }
                                },
                                "foreach": "@variables('FileList')",
                                "runAfter": {
                                    "Append_progress_folder": [
                                        "SUCCEEDED"
                                    ]
                                },
                                "type": "Foreach"
                            },
                            "Get_Sharepoint_Token": {
                                "inputs": {
                                    "body": "client_id=@{parameters('SharepointClientId')}%40@{parameters('SharepointTenantId')}\n&resource=00000003-0000-0ff1-ce00-000000000000/@{parameters('SharepointDomain')}%40@{parameters('SharepointTenantId')}\n&grant_type=client_credentials\n&client_secret=@{encodeUriComponent(parameters('SharepointClientSecret'))}",
                                    "headers": {
                                        "Content-Type": "application/x-www-form-urlencoded"
                                    },
                                    "method": "POST",
                                    "uri": "@{parameters('SharepointLoginBaseUrl')}/@{parameters('SharepointTenantId')}/tokens/OAuth/2/"
                                },
                                "runtimeConfiguration": {
                                    "contentTransfer": {
                                        "transferMode": "Chunked"
                                    },
                                    "secureData": {
                                        "properties": [
                                            "inputs",
                                            "outputs"
                                        ]
                                    }
                                },
                                "type": "Http"
                            },
                            "Parse_Sharepoint_Token": {
                                "inputs": {
                                    "content": "@body('Get_Sharepoint_Token')",
                                    "schema": {
                                        "properties": {
                                            "access_token": {
                                                "type": "string"
                                            },
                                            "expires_in": {
                                                "type": "string"
                                            },
                                            "token_type": {
                                                "type": "string"
                                            }
                                        },
                                        "type": "object"
                                    }
                                },
                                "runAfter": {
                                    "Get_Sharepoint_Token": [
                                        "SUCCEEDED"
                                    ]
                                },
                                "type": "ParseJson"
                            }
                        },
                        "else": {
                            "actions": {
                                "Append_error_missing_activity": {
                                    "inputs": {
                                        "name": "ProgressText",
                                        "value": ": missing activity id"
                                    },
                                    "type": "AppendToStringVariable"
                                },
                                "Throw_error_missing_activity": {
                                    "inputs": "@int('__ERROR_missing_activity__')",
                                    "runAfter": {
                                        "Append_error_missing_activity": [
                                            "SUCCEEDED"
                                        ]
                                    },
                                    "type": "Compose"
                                }
                            }
                        },
                        "expression": {
                            "and": [
                                {
                                    "not": {
                                        "equals": [
                                            "@length(trim(string(variables('ActivityId'))))",
                                            0
                                        ]
                                    }
                                }
                            ]
                        },
                        "runAfter": {
                            "Append_progress_activity_id": [
                                "SUCCEEDED"
                            ]
                        },
                        "type": "If"
                    },
                    "Is_File_Number_Match": {
                        "actions": {},
                        "else": {
                            "actions": {
                                "Append_file_mismatch_error": {
                                    "inputs": {
                                        "name": "ProgressText",
                                        "value": ": mismatch of file numbers in CTL"
                                    },
                                    "type": "AppendToStringVariable"
                                },
                                "Throw_error_file_number_mismatch": {
                                    "inputs": "@int('__ERROR_file_number_mismatch__')",
                                    "runAfter": {
                                        "Append_file_mismatch_error": [
                                            "SUCCEEDED"
                                        ]
                                    },
                                    "type": "Compose"
                                }
                            }
                        },
                        "expression": {
                            "and": [
                                {
                                    "equals": [
                                        "@body('Parse_CTL_File')?['filesInSubmission']",
                                        "@length(variables('FileList'))"
                                    ]
                                }
                            ]
                        },
                        "runAfter": {
                            "Set_uosr": [
                                "SUCCEEDED"
                            ]
                        },
                        "type": "If"
                    },
                    "Is_SBI_valid": {
                        "actions": {
                            "Set_SBI_from_CTL": {
                                "inputs": {
                                    "name": "SbiNumber",
                                    "value": "@body('Parse_CTL_File')?['sbi']"
                                },
                                "type": "SetVariable"
                            }
                        },
                        "else": {
                            "actions": {
                                "Set_SBI_from_Org": {
                                    "inputs": {
                                        "name": "SbiNumber",
                                        "value": "@{outputs('Parse_Org_Response')?['body']?['value'][0]['rpa_sbinumber']}"
                                    },
                                    "type": "SetVariable"
                                }
                            }
                        },
                        "expression": {
                            "and": [
                                {
                                    "not": {
                                        "equals": [
                                            "@length(trim(string(body('Parse_CTL_File')?['sbi'])))",
                                            0
                                        ]
                                    }
                                }
                            ]
                        },
                        "runAfter": {
                            "Extract_OrganisationId": [
                                "SUCCEEDED"
                            ]
                        },
                        "type": "If"
                    },
                    "Parse_CRM_Token": {
                        "inputs": {
                            "content": "@body('Get_CRM_Token')",
                            "schema": {
                                "properties": {
                                    "access_token": {
                                        "type": "string"
                                    },
                                    "expires_in": {
                                        "type": "string"
                                    },
                                    "expires_on": {
                                        "type": "string"
                                    },
                                    "ext_expires_in": {
                                        "type": "string"
                                    },
                                    "not_before": {
                                        "type": "string"
                                    },
                                    "resource": {
                                        "type": "string"
                                    },
                                    "token_type": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        },
                        "runAfter": {
                            "Get_CRM_Token": [
                                "SUCCEEDED"
                            ]
                        },
                        "type": "ParseJson"
                    },
                    "Parse_CTL_File": {
                        "inputs": {
                            "content": "@outputs('Decode_blob_CTL_contents')",
                            "schema": {
                                "properties": {
                                    "crn": {
                                        "type": "string"
                                    },
                                    "files": {
                                        "items": {
                                            "type": "string"
                                        },
                                        "type": "array"
                                    },
                                    "filesInSubmission": {
                                        "type": "integer"
                                    },
                                    "frn": {
                                        "type": "string"
                                    },
                                    "sbi": {
                                        "type": "string"
                                    },
                                    "submissionDateTime": {
                                        "type": "string"
                                    },
                                    "type": {
                                        "type": "string"
                                    },
                                    "uosr": {
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "crn",
                                    "frn",
                                    "uosr",
                                    "type",
                                    "submissionDateTime",
                                    "filesInSubmission",
                                    "files"
                                ],
                                "type": "object"
                            }
                        },
                        "runAfter": {
                            "Decode_blob_CTL_contents": [
                                "SUCCEEDED"
                            ]
                        },
                        "type": "ParseJson"
                    },
                    "Parse_Contact_Details": {
                        "inputs": {
                            "content": "@body('Get_CRM_Contact')",
                            "schema": {
                                "properties": {
                                    "value": {
                                        "items": {
                                            "properties": {
                                                "contactid": {
                                                    "type": "string"
                                                },
                                                "fullname": {
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "contactid",
                                                "fullname"
                                            ],
                                            "type": "object"
                                        },
                                        "type": "array"
                                    }
                                },
                                "type": "object"
                            }
                        },
                        "runAfter": {
                            "Get_CRM_Contact": [
                                "SUCCEEDED"
                            ]
                        },
                        "type": "ParseJson"
                    },
                    "Parse_Org_Response": {
                        "inputs": {
                            "content": "@body('Get_CRM_Org')",
                            "schema": {
                                "properties": {
                                    "@@odata.context": {
                                        "type": "string"
                                    },
                                    "value": {
                                        "items": {
                                            "properties": {
                                                "accountid": {
                                                    "type": "string"
                                                },
                                                "name": {
                                                    "type": "string"
                                                },
                                                "rpa_sbinumber": {
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "name",
                                                "accountid",
                                                "rpa_sbinumber"
                                            ],
                                            "type": "object"
                                        },
                                        "type": "array"
                                    }
                                },
                                "type": "object"
                            }
                        },
                        "runAfter": {
                            "Get_CRM_Org": [
                                "SUCCEEDED"
                            ]
                        },
                        "type": "ParseJson"
                    },
                    "Set_FileList": {
                        "inputs": {
                            "name": "FileList",
                            "value": "@body('Parse_CTL_File')?['files']"
                        },
                        "runAfter": {
                            "Parse_CTL_File": [
                                "SUCCEEDED"
                            ]
                        },
                        "type": "SetVariable"
                    },
                    "Set_FilesInSubmission": {
                        "inputs": {
                            "name": "FilesInSubmission",
                            "value": "@body('Parse_CTL_File')['filesInSubmission']"
                        },
                        "runAfter": {
                            "Set_FileList": [
                                "SUCCEEDED"
                            ]
                        },
                        "type": "SetVariable"
                    },
                    "Set_uosr": {
                        "inputs": {
                            "name": "uosr",
                            "value": "@body('Parse_CTL_File')['uosr']"
                        },
                        "runAfter": {
                            "Set_FilesInSubmission": [
                                "SUCCEEDED"
                            ]
                        },
                        "type": "SetVariable"
                    }
                },
                "runAfter": {
                    "Initialize_uosr": [
                        "SUCCEEDED"
                    ]
                },
                "type": "Scope"
            }
        },
        "contentVersion": "1.3.0.0",
        "outputs": {},
        "parameters": {
            "AdLoginBaseUrl": {
                "defaultValue": "@appsetting('AdLoginBaseUrl')",
                "type": "String",
                "value": "@appsetting('AdLoginBaseUrl')"
            },
            "CrmBaseUrl": {
                "defaultValue": "@appsetting('CrmBaseUrl')",
                "type": "String",
                "value": "@appsetting('CrmBaseUrl')"
            },
            "CrmDocTypeLookup": {
                "defaultValue": "@appsetting('CrmDocTypeLookup')",
                "type": "String",
                "value": "@appsetting('CrmDocTypeLookup')"
            },
            "FfcRetrievalWorkflowEndpoint": {
                "defaultValue": "@appsetting('FfcRetrievalWorkflowEndpoint')",
                "type": "String",
                "value": "@appsetting('FfcRetrievalWorkflowEndpoint')"
            },
            "FfcRetrievalWorkflowSasToken": {
                "defaultValue": "@appsetting('FfcRetrievalWorkflowSasToken')",
                "type": "String",
                "value": "@appsetting('FfcRetrievalWorkflowSasToken')"
            },
            "FfcServiceBusTopic": {
                "defaultValue": "@appsetting('FfcServiceBusTopic')",
                "type": "String",
                "value": "@appsetting('FfcServiceBusTopic')"
            },
            "PdfServiceUrl": {
                "defaultValue": "@appsetting('PdfServiceUrl')",
                "type": "String",
                "value": "@appsetting('PdfServiceUrl')"
            },
            "PortalClientId": {
                "defaultValue": "@appsetting('PortalClientId')",
                "type": "String",
                "value": "@appsetting('PortalClientId')"
            },
            "PortalClientSecret": {
                "defaultValue": "@appsetting('PortalClientSecret')",
                "type": "String",
                "value": "@appsetting('PortalClientSecret')"
            },
            "PortalTenantId": {
                "defaultValue": "@appsetting('PortalTenantId')",
                "type": "String",
                "value": "@appsetting('PortalTenantId')"
            },
            "SharepointBaseUrl": {
                "defaultValue": "@appsetting('SharepointBaseUrl')",
                "type": "String",
                "value": "@appsetting('SharepointBaseUrl')"
            },
            "SharepointClientId": {
                "defaultValue": "@appsetting('SharepointClientId')",
                "type": "String",
                "value": "@appsetting('SharepointClientId')"
            },
            "SharepointClientSecret": {
                "defaultValue": "@appsetting('SharepointClientSecret')",
                "type": "String",
                "value": "@appsetting('SharepointClientSecret')"
            },
            "SharepointDomain": {
                "defaultValue": "@appsetting('SharepointDomain')",
                "type": "String",
                "value": "@appsetting('SharepointDomain')"
            },
            "SharepointLoginBaseUrl": {
                "defaultValue": "@appsetting('SharepointLoginBaseUrl')",
                "type": "String",
                "value": "@appsetting('SharepointLoginBaseUrl')"
            },
            "SharepointSiteSubPath": {
                "defaultValue": "@appsetting('SharepointSiteSubPath')",
                "type": "String",
                "value": "@appsetting('SharepointSiteSubPath')"
            },
            "SharepointTenantId": {
                "defaultValue": "@appsetting('SharepointTenantId')",
                "type": "String",
                "value": "@appsetting('SharepointTenantId')"
            },
            "UnknownContactId": {
                "defaultValue": "@appsetting('UnknownContactId')",
                "type": "String",
                "value": "@appsetting('UnknownContactId')"
            }
        },
        "triggers": {
            "When_a_blob_is_added_or_updated": {
                "conditions": [
                    {
                        "expression": "@endsWith(triggerBody()?['Name'],'_ctrl.json')"
                    }
                ],
                "inputs": {
                    "parameters": {
                        "path": "rle-container"
                    },
                    "serviceProviderConfiguration": {
                        "connectionName": "azureBlobRle",
                        "operationId": "whenABlobIsAddedOrModified",
                        "serviceProviderId": "/serviceProviders/AzureBlob"
                    }
                },
                "type": "ServiceProvider"
            }
        }
    },
    "kind": "Stateful"
}
