PaymentStatementIntegrations/SharepointTest/workflow.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "HTTP_Get_Token": {
                "inputs": {
                    "body": "client_id=@{parameters('SharepointClientId')}%40@{parameters('SharepointTenantId')}\n&resource=00000003-0000-0ff1-ce00-000000000000/defradev.sharepoint.com%40@{parameters('SharepointTenantId')}\n&grant_type=client_credentials\n&client_secret=@{encodeUriComponent(parameters('SharepointClientSecret'))}",
                    "headers": {
                        "Content-Type": "application/x-www-form-urlencoded"
                    },
                    "method": "POST",
                    "uri": "https://accounts.accesscontrol.windows.net/@{parameters('SharepointTenantId')}/tokens/OAuth/2/"
                },
                "runAfter": {},
                "runtimeConfiguration": {
                    "contentTransfer": {
                        "transferMode": "Chunked"
                    }
                },
                "type": "Http"
            },
            "HTTP_Sharepoint": {
                "inputs": {
                    "headers": {
                        "Authorization": "Bearer @{body('Parse_JSON')?['access_token']}"
                    },
                    "method": "GET",
                    "uri": "https://defradev.sharepoint.com/sites/tempdocstore/_api/web/GetFolderByServerRelativeUrl%28%27Documents%2F01c70b7d-5b6d-e711-8107-5065f38b3681%27%29%2FFiles"
                },
                "runAfter": {
                    "Parse_JSON": [
                        "SUCCEEDED"
                    ]
                },
                "runtimeConfiguration": {
                    "contentTransfer": {
                        "transferMode": "Chunked"
                    }
                },
                "type": "Http"
            },
            "Parse_JSON": {
                "inputs": {
                    "content": "@body('HTTP_Get_Token')",
                    "schema": {
                        "properties": {
                            "access_token": {
                                "type": "string"
                            },
                            "expires_in": {
                                "type": "string"
                            },
                            "token_type": {
                                "type": "string"
                            }
                        },
                        "type": "object"
                    }
                },
                "runAfter": {
                    "HTTP_Get_Token": [
                        "SUCCEEDED"
                    ]
                },
                "type": "ParseJson"
            }
        },
        "contentVersion": "1.1.0.0",
        "outputs": {},
        "triggers": {
            "When_a_HTTP_request_is_received": {
                "kind": "Http",
                "type": "Request"
            }
        }
    },
    "kind": "Stateful"
}